.pageLayout {
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: aliceblue;
}

a {
    font-weight: 500;
    color: aliceblue;
    text-decoration: inherit;
}

